/* Design tokens and mapping */
:root, .ui-standard {
    --primary-minor-2: #f0edff;
    --primary-minor-1: #e2dbff;
    --primary: #6d4aff;
    --primary-major-1: #6243e6;
    --primary-major-2: #573bcc;
    --primary-major-3: #4c34b3;
    --primary-contrast: #ffffff;
    --signal-danger-minor-2: #fcebee;
    --signal-danger-minor-1: #f8d6dc;
    --signal-danger: #dc3251;
    --signal-danger-major-1: #c62d49;
    --signal-danger-major-2: #b02841;
    --signal-danger-major-3: #9a2339;
    --signal-danger-contrast: #ffffff;
    --signal-warning-minor-2: #fff5e6;
    --signal-warning-minor-1: #ffebcc;
    --signal-warning: #ff9900;
    --signal-warning-major-1: #f27d00;
    --signal-warning-major-2: #e66300;
    --signal-warning-major-3: #d94c00;
    --signal-warning-contrast: #000000;
    --signal-success-minor-2: #e9f6f3;
    --signal-success-minor-1: #d2eee7;
    --signal-success: #1ea885;
    --signal-success-major-1: #1b9778;
    --signal-success-major-2: #18866a;
    --signal-success-major-3: #15765d;
    --signal-success-contrast: #ffffff;
    --signal-info-minor-2: #e9f5fa;
    --signal-info-minor-1: #d3ecf5;
    --signal-info: #239ece;
    --signal-info-major-1: #208eb9;
    --signal-info-major-2: #1c7ea5;
    --signal-info-major-3: #196f90;
    --signal-info-contrast: #ffffff;
    --interaction-norm-minor-2: #f0edff;
    --interaction-norm-minor-1: #e2dbff;
    --interaction-norm: #6d4aff;
    --interaction-norm-major-1: #6243e6;
    --interaction-norm-major-2: #573bcc;
    --interaction-norm-major-3: #4c34b3;
    --interaction-norm-contrast: #ffffff;
    --interaction-weak-minor-2: #f9f8f7;
    --interaction-weak-minor-1: #f5f3f2;
    --interaction-weak: #eae7e4;
    --interaction-weak-major-1: #dedbd9;
    --interaction-weak-major-2: #d3d0cd;
    --interaction-weak-major-3: #c7c4c2;
    --interaction-weak-contrast: #000000;
    --text-norm: #0c0c14;
    --text-weak: #5c5958;
    --text-hint: #8f8d8a;
    --text-disabled: #c2bfbc;
    --text-invert: white;
    --field-norm: #adaba8;
    --field-hover: #8f8d8a;
    --field-disabled: #d1cfcd;
    --focus-outline: #6d4aff;
    --focus-ring: rgb(109 74 255 / 0.2);
    --border-norm: #d1cfcd;
    --border-weak: #eae7e4;
    --background-norm: white;
    --background-weak: #f5f4f2;
    --background-strong: #e5e4e1;
    --background-invert: #0c0c14;
    --interaction-default: transparent;
    --interaction-default-hover: rgb(194 193 192 / 0.2);
    --interaction-default-active: rgb(194 192 190 / 0.35);
    --shadow-primary-color: 109 74 255;
    --shadow-norm-opacity: 0.1;
    --shadow-raised-opacity: 0.1;
    --shadow-lifted-opacity: 0.16;
    --backdrop-norm: rgb(38 42 51 / 0.48);
    --optional-scrollbar-thumb-color: #d1cfcd;
    --optional-main-border-width: 0;
    --optional-background-lowered: #f8f8f6;
    --optional-background-elevated: white;
    --optional-email-item-read-text-color: #3d3c3c;
    --optional-email-item-selected-background-color: var(--interaction-norm-major-1);
    --optional-email-item-selected-icon-background-color: var(--interaction-norm-major-3);
    --optional-link-norm: initial;
    --optional-link-hover: initial;
    --optional-link-active: initial;
    --optional-mini-calendar-today-color: initial;
    --optional-logo-text-proton-color: initial;
    --optional-logo-text-product-color: initial;
    --optional-promotion-text-color: #15006f;
    --optional-promotion-text-weak: #50409b;
    --optional-promotion-interaction-hover: rgb(109 74 255 / 0.08);
    --optional-promotion-background-start: rgb(109 74 255 / 0.15);
    --optional-promotion-background-end: rgb(70 26 255 / 0.04);
    --optional-promotion-secondary-color: #d783ff;
    --optional-bg-promotion-bw-button: var(--background-invert);
    --optional-text-promotion-bw-button: var(--text-invert);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: var(--text-norm);
}

.application {
    max-width: none;
    display: grid;
    grid-template-areas:
    "header menu"
    "main menu"
    "cards menu"
    "footer footer";
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.8fr 7fr auto auto;
    background-color: var(--background-norm);
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backdrop-norm);
    /* Black background with opacity */
    z-index: 9;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

/*----------------------------------------------------------------------------HEADER-----------------------------------------------------------------------------------------------------*/
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--background-norm);
    z-index: 1000;
    width: 49vw;
    height: 13vh;
    /*need it hove all buttons with menu button in one line*/

    .dropdown {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 3rem;
        justify-self: center;
    }

    .bi-list {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 3rem;
        justify-self: center;
    }

    .bi-folder-plus {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 3rem;
        justify-self: center;
    }
}

.dropdown:hover .dropbtn,
.bi-folder-plus:hover {
    font-weight: bold;
    color: var(--signal-success);
}

#new-folder {
    border-style: solid;
    border-color: var(--border-norm);
    border-radius: 25px;
    width: 140px;
    height: 50px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding: 0;
    background-color: transparent;
}

#new-folder:hover,
.new-goal:hover {
    border-color: var(--signal-success);
    color: var(--signal-success-contrast);
    background-color: var(--signal-success);
}

.dropdown .dropbtn {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: var(--text-norm);
    border-style: none;
    text-decoration: underline;
    background: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-radius: 8px;
    border-color: #ffffff;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 10rem;
    z-index: 1;
}

.dropdown .dropdown-content > a {
    color: var(--text-norm);
    display: block;
    /*to make links in vertical order*/
    text-decoration: none;
    margin-left: 0.4rem;
}

.dropdown-content hr {
    border-top: 1px solid var(--signal-success);
}

/* Change color of dropdown links on hover */
.dropdown .dropdown-content a:hover {
    background-color: var(--signal-success);
    border-style: solid;
    border-radius: 8px;
    border-color: var(--signal-success);
    color: var(--signal-success-contrast);
    margin-left: 1rem;
    padding-left: 0.5rem;
}

.hide {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: var(--text-norm);
    border-style: none;
    text-decoration: underline;
    background: none;
}

.show {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: var(--text-norm);
    border-style: none;
    text-decoration: underline;
    background: none;
    display: none;
}

.hide:hover,
.show:hover {
    font-weight: bold;
    color: var(--signal-success);
}

#folders-hide {
    grid-column: 1/2;
    grid-row: 1/2;
}

#goals-hide {
    grid-column: 2/3;
    grid-row: 1/2;
}

#achieved-hide {
    grid-column: 3/4;
    grid-row: 1/2;
}

/*-------------------------------------------------------------------------MAIN-----------------------------------------------------------------------------------------------------------*/
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1.6rem;

    > h1 {
        font-size: clamp(2rem, 2rem + 5vw, 90px);
        color: var(--interaction-norm-major-2);
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .logo {
        display: block;
        max-width: 25%;
        margin: 0 auto;
        padding: 0;
    }

    p {
        font-size: clamp(0.9rem, 0.7rem + 1vw, 1.5rem);
        margin: 0;
    }

    .bi-arrow-down {
        font-size: clamp(2rem, 3rem + 5vw, 4rem);
        color: var(--text-norm);
    }
}

.new-goal {
    border-style: solid;
    border-color: var(--border-norm);
    border-radius: 25px;
    width: 140px;
    height: 50px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding: 0;
    background-color: transparent;
}

/*-------------------------------------------------------------------------MENU-----------------------------------------------------------------------------------------------------------*/
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    /**When fixed, it is mandatory to specify size**/
    grid-area: menu;

    /*background-image: url("images/backgrounds/goals-3people-background1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;*/
    background-color: var(--interaction-norm-major-2);

    .banner {
        max-width: 100%; /*Fluid images scale down when their containing column narrows but do not grow larger than their intrinsic size when the column grows*/
        height: auto;
    }
}

.main-menu {
    position: relative;
    left: 80%;
    top: 3.1%;
    border-style: solid;
    border-color: var(--border-norm);
    border-radius: 25px;
    width: 140px;
    height: 50px;
    font-family: "Nunito", sans-serif;
    color: var(--interaction-norm-contrast);
    font-size: 18px;
    padding: 0;
    background-color: var(--interaction-norm);
}

.main-menu:hover {
    border-color: var(--interaction-weak-minor-1);
    font-weight: 600;
    color: var(--text-norm);
    background-color: var(--interaction-weak-minor-1);
}

/*------------------------------------------------------------------------CARDS-----------------------------------------------------------------------------------------------------------*/
.cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*1 card takes not less than 150px*/
    row-gap: 4rem;
    justify-items: center;
    width: 45vw;
    z-index: 1;

    justify-self: center;
}

.card {
    display: grid;
    grid-template-areas:
    "card-icon"
    "card-text"
    "card-button";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    row-gap: 0.5rem;
}

.folder {
    order: 1;
    /*I need this to sort items and chhose to show folders or goals first*/
}

.goal {
    order: 2;
    /*I need this to sort items and chhose to show folders or goals first*/
}

.card > img {
    width: 8rem;
    clip-path: circle(50%);
    grid-area: card-icon;
}

.card-text {
    font-size: 1rem;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    /*.card-text will always fit in the container, even if it is very long or contains words without spaces*/
    hyphens: auto;
    text-align: center;
}

.card-button {
    border-style: solid;
    border-color: var(--interaction-norm-major-2);
    border-radius: 25px;
    width: 100px;
    height: 36px;
    font-family: "Nunito", sans-serif;
    color: var(--interaction-norm-contrast);
    font-size: 0.9rem;
    padding: 0;
    background-color: var(--interaction-norm-major-2);
}

/*.cards {
    grid-area: cards;
    display: grid;
    grid-template-areas:
        "card card card"
        "card card card"
        "card card card";
    row-gap: 4rem;
    justify-items: center;
    width: 50vw;
    z-index: 1;
    margin-bottom: 2rem;
}

.card {
    display: grid;
    grid-template-areas:
        "card-icon"
        "card-text"
        "card-button";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 14rem;
    height: 13rem;
    justify-items: center;
    align-items: center;
}

.folder {
    order: 1;
    /*I need this to sort items and chhose to show folders or goals first*/
/*}

.goal {
    order: 2;
    /*I need this to sort items and chhose to show folders or goals first*/
/*}

.card>img {
    width: 8rem;
    height: 8rem;
    clip-path: circle(50%);
    grid-area: card-icon;
}

.card-text {
    font-size: 15px;
    grid-area: card-text;
}

.card-button {
    grid-area: card-button;
    border-style: solid;
    border-color: #3D0A91;
    border-radius: 25px;
    width: 140px;
    height: 50px;
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 0;
    background-color: #3D0A91;
}*/

/*------------------------------------------------------------------------FOOTER-----------------------------------------------------------------------------------------------------------*/
.footer {
    grid-area: footer;
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 1fr;
    align-content: flex-end;
    /*flex-end pushes everything down/up*/
    padding-bottom: 1rem;

    z-index: 2;
    background-color: var(--primary-minor-1);
    /*#E9ECEF;/*#FFE5D0; /*#E9CFA6;*/
}

.content {
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*neet it to have items in the middle, no to the side of the screen*/
    justify-content: space-evenly;
    /*not center! it will be no space between the text and the button*/
}

.content > h2 {
    font-size: 40px;
    margin: 0;
}

.content > button {
    border-style: solid;
    border-color: var(--border-norm);
    border-radius: 25px;
    width: 140px;
    height: 50px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding: 0;
    background-color: transparent;
}

.content > button:hover {
    border-color: var(--interaction-norm);
    font-weight: 600;
    color: var(--interaction-norm-contrast);
    background-color: var(--interaction-norm);
    /*#e9ecef*/
}

.box1 {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    /*each box moves to te center horizontally*/
}

.box2 {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    /*each box moves to te center horizontally*/
}

.box3 {
    grid-row: 2;
    grid-column: 3;
    justify-self: center;
    /*each box moves to te center horizontally*/
}

.box4 {
    grid-row: 2;
    grid-column: 4;
    justify-self: center;
    /*each box moves to te center horizontally*/
}

.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*смещение текста к левому краю*/
    align-self: flex-start;
    /*pushes everything down/up*/
    /*align-content: ; не работает*/

    p {
        margin: 0;
        padding: 0;
    }
}

.copiright {
    grid-row: 2;
    grid-column: 1/-1;
    justify-self: flex-end;
    /*each box moves to te center horizontally*/
    align-self: flex-end;
    margin-right: 9vw;
    padding: 0;
    font-size: 15px;

    p {
        margin: 0;
        padding: 0;
    }
}

/*
-----------------------------------------------------------------------FORMS-----------------------------------------------------------------------
*/
.sidepanel {
    width: 50%;
    height: 100vh;
    background-color: var(--background-norm);
    overflow-y: auto;
    /* only vertical scrolling */
    overflow-x: hidden;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: none; /* should be hidden by default if you do not use Thymeleaf templates */
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 4rem 4rem;
    row-gap: 6rem;
}

.bi-x-lg {
    position: fixed;
    left: 51%;
    font-size: 3rem;
    color: var(--interaction-weak-minor-1);
    cursor: pointer;
    z-index: 1000;
}

.field {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 25px;

    i {
        color: var(--signal-success);
    }
}

.hint {
    font-size: 16px;
    color: var(--interaction-norm-major-2);
}

input[type="text"],
input[type="email"],
input[type="date"] {
    background-color: transparent;
    border: none;
    border-bottom: var(--signal-success) solid 3px;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-size: 33px;
    color: var(--text-hint);
}

input[type="submit"] {
    border-style: solid;
    border-color: var(--border-norm);
    border-radius: 25px;
    width: 140px;
    height: 50px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding: 0;
    background-color: transparent;
    align-self: center;
}

#description {
    background-color: transparent;
    border: var(--signal-success) solid 3px;
    border-radius: 8px;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

input[type="submit"]:hover {
    border-color: var(--signal-success);
    color: var(--signal-success-contrast);
    background-color: var(--signal-success);
}

/*
-----------------------------------------------------------------------GOAL-PAGE----------------------------------------------------------------------
*/

#goal-page {
    grid-area: 1 / 1 / -1 / -1;
    /*Occupies the entire grid*/

    grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-template-rows: 4rem repeat(3, 5fr)  repeat(2, 2.5fr);
    display: grid;
    min-height: 100vh;
    height: fit-content;


    .goal-header {
        grid-column: 1/-1;
        /*Occupies the entire grid*/
        background-color: var(--interaction-norm-major-3);
        display: flex;
        padding-right: 90%;
        padding-left: 1%;
        justify-content: space-between;
        position: sticky;
        top: 0;
        height: 4rem;
        z-index: 10;


        .bi-layout-sidebar,
        .bi-rocket,
        a {
            font-size: 1rem;
            color: var(--text-invert);
            align-self: center;
            text-decoration: none;
        }

        .bi-layout-sidebar {
            font-size: 1.5rem;
        }

        .bi-rocket {
            background-color: color-mix(in srgb, var(--primary-minor-1) 50%, transparent);
            border-radius: 8px;
            padding: 0.1rem 0.3rem 0.1rem 0.3rem;
        }
    }

    .goal-info-container {
        grid-column: 1/-1;
        /*Occupies the entire grid*/
        grid-row: 2/4;
        background-color: var(--primary-major-3);
        padding: 0 20rem;
        min-height: 50vh;
        height: fit-content;
    }

    .goal-info {
        align-self: flex-start;
        height: 40%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
        column-gap: 3rem;
        row-gap: 0.5rem;
    }

    .circular-progress-container {
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9;
        align-self: flex-start;
        margin-top: 1.5rem;

    }

    .goal-name,
    .bi-three-dots {
        font-size: 1.5rem;
        color: #ffffff;
    }

    .goal-title {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        column-gap: 1rem;
        width: 30rem;
    }

    .goal-data {
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        width: 30rem;
        justify-content: center;
        column-gap: 1rem;
    }

    .goal-desc {
        grid-column: 2/-1;
        grid-row: 2/3;
        border: solid 1px var(--border-weak);
        border-radius: 4px;
        min-width: 25rem;
        max-width: 50rem;
        min-height: 3rem;
        padding: 1rem;
        background: transparent;
        overflow: hidden;
        /*resize: vertical;*/

    }

    .goal-desc,
    .goal-data p {
        font-size: 0.7rem;
        color: var(--text-invert);
    }

    .goal-background {
        grid-column: 1/-1;
        /*Occupies the entire grid*/
        grid-row: 4/7;
        background-color: var(--primary-minor-1);
        order: 1;
    }

    .goal-content {
        grid-column: 2/4;
        grid-row: 3/6;
        background-color: var(--background-weak);
        order: 2;
        border-radius: 8px;
    }

}

/*Show only active page*/
#goal-page.active {
    display: grid;
}

/*
-----------------------------------------------------------------------FOLDER-PAGE----------------------------------------------------------------------
*/

#folder-page-template {
    grid-area: 1 / 1 / -1 / -1;
    /*Occupies the entire grid*/
    height: 100vh;
    grid-template-columns: 100vw;
    grid-template-rows: 5rem 11vh auto;
    display: grid;
    /* hidden by default */
    z-index: 10;
    background-color: var(--background-norm);
    overflow-x: hidden;

    .search {
        grid-column: 1/-1;
        grid-row: 1/2;
        /*Occupies the entire grid*/
        width: 100%;
        height: 5rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-content: center;

        input[type="text"] {
            width: 20rem;
            height: fit-content;
            border-radius: 8px;
            border-style: solid;
            border-width: 1px;
            border-color: var(--border-norm);
            font-size: 1.5rem;
            align-self: center;
        }
    }

    .folder-header {
        grid-column: 1/-1;
        /*Occupies the entire grid*/
        grid-row: 2/3;
        width: 98vw;
        height: 11vh;
        justify-self: center;
        position: fixed;
        top: 5rem;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid var(--border-norm);
        border-radius: 25px 25px 0 0;

        > p {
            padding-right: 30rem;
        }

        #delete-folder {
            border-style: solid;
            border-color: var(--border-norm);
            border-radius: 25px;
            width: 140px;
            height: 50px;
            font-family: "Nunito", sans-serif;
            font-size: 18px;
            padding: 0;
            background-color: transparent;
        }

        #delete-folder:hover {
            border-color: var(--signal-success);
            color: var(--signal-success-contrast);
            background-color: var(--signal-success);
        }
    }

    .folder-header .bi-layout-sidebar {
        align-self: center;
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--text-norm);
    }

    .bi-layout-sidebar:hover {
        color: var(--signal-success);
    }

    #goalsContainer {
        grid-column: 1/-1;
        /*Occupies the entire grid*/
        grid-row: 3/4;
        width: 98vw;
        border: 1px solid var(--border-norm);
        border-top: transparent;
        border-radius: 0 0 25px 25px;
        padding: 2rem;

        .goal {
            height: min-content;
        }
    }
}
