<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet"/>
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>

  <link rel="stylesheet" href="/styles/style-goals.css" />
  <script src="/scripts/circular-progress.js" defer></script>
  <script src="/scripts/description-resizing.js" defer></script>
  <script src="/scripts/open-close-sidepanel.js" defer></script>
  <link rel="stylesheet" href="/styles/circular-progress.css" />
  <script src="/scripts/target.js" defer></script>
  <script src="/scripts/target-dropdown-open-close.js" defer></script>
  <script src="/scripts/target-delete.js" defer></script>
  <script src="/scripts/open-close-target-progress-modal.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <!--<script type="text/javascript" th:src="@{/webjars/htmx.org/2.0.4/dist/htmx.min.js}"></script>-->
  <title>Goal</title>
</head>
<body><!--hx-boost="true"-->
<div id="overlay"></div>
<section class="page" id="goal-page" data-page="goal">
  <div class="goal-header">
    <i class="bi bi-layout-sidebar"></i>
    <i class="bi bi-rocket"></i>
    <a th:href="@{/}">All Goals <i class="bi bi-chevron-right"></i></a>
  </div>
  <div class="goal-info-container">
    <div class="goal-info">
      <div class="card-icon circular-progress-container" th:attr="data-target=${goal.progressTarget}">
        <svg viewBox="0 0 250 250" class="circular-progress">
          <circle class="bg"></circle>
          <circle class="fg"></circle>
        </svg>
        <div th:text="${goal.progressTarget}" class="circular-progress-text"></div>
      </div>
      <div class="goal-title">
        <p class="goal-name" th:text="${goal.text}"></p>
        <!-----------------------DROPDOWN---TO---DELETE---AND---RENAME---GOAL---START------------------------------------------------------------------->
        <div class="dropdown-wrapper">
          <p class="dropdown-toggle"><i class="bi bi-three-dots"></i></p>
          <div class="dropdown-menu">
            <div class="dropdown-item"><i class="bi bi-pencil"></i><span>Rename</span></div>
            <div class="dropdown-item"><i class="bi bi-folder-symlink"></i><span>Move to folder</span></div>
            <div class="dropdown-item delete"><i class="bi bi-trash3"></i><span>Delete</span></div>
          </div>
        </div>
        <!-----------------------DROPDOWN---TO---DELETE---AND---RENAME---GOAL---END------------------------------------------------------------------->
      </div>

      <div class="goal-data">
        <p th:text="${#strings.isEmpty(goal.date) ? '' : 'Due to date for this goal: ' + goal.date}"></p>
      </div>
      <label>
        <textarea placeholder="Write something" class="goal-desc" th:text="${goal.description}"></textarea>
      </label>

    </div>
  </div>
  <div class="goal-content">
    <div class="add-target">
    <div class="tooltip">
      <a href="">Targets</a>
      <span class="tooltip-text">Click to learn more about targets</span>
    </div>
      <button class="open-sidepanel">+ Add</button>
    </div>
    <!----------------------------------------------------LOOP---TO---SHOW---ALL---TARGETS--------------------------------------------------------------------->
    <div th:each="target: ${targets}" class="targets-list">
    <div class="goal-targets" th:data-target-id="${target.id}">
        <div class="text">
          <div class="target-name">
            <p th:text="${target.name}"></p>
            <!---------------------------------------DROPDOWN---TO---DELETE---AND---RENAME---TARGET---START--------------------------------------------------->
            <div class="dropdown-wrapper">
              <p class="dropdown-toggle target"><i class="bi bi-three-dots"></i></p>
              <div class="dropdown-menu target">
                <div class="dropdown-item"><i class="bi bi-pencil"></i><span class="target-dropdown-item">Rename</span></div>
                <div class="dropdown-item delete target"><i class="bi bi-trash3"></i><span class="target-dropdown-item">Delete</span></div>
              </div>
            </div>
          </div>
          <!-----------------------DROPDOWN---TO---DELETE---AND---RENAME---TARGET---END------------------------------------------------------------------->
            <span th:text="'Created: ' + ${target.created}" class="target-date"></span>
        </div>
      <div class="progress-container">
        <div class="measure">
          <span th:text="${target.unit}"></span>
          <span th:text="${#strings.isEmpty(target.start) and #strings.isEmpty(target.current) and #strings.isEmpty(target.target) ? '' :
	                      (#strings.isEmpty(target.current) ? target.start + '/' + target.target :
					                                          target.current + '/' + target.target)}"></span>
        </div>
        <div class="progress">
          <div class="progress-bar"
               th:style="'width: ' + ${target.progress} + '%'"
               th:classappend="${target.progress == 100} ? 'progress-bar-success' : ''">
          </div>
        </div>
        <span class="target-date" th:text="${#strings.isEmpty(target.deadlineDate) and #strings.isEmpty(target.deadlineTime) ? '' : 'Deadline: ' + target.deadlineDate + ' ' + target.deadlineTime}"></span>
      </div>
      <!--------------------------------------------------------TARGET---PROGRESS---MODAL---WINDOW---START------------------------------------------------------->
      <section class="targetProgressModal" >
        <div class="form-container">
          <form th:action="@{/goal/{goalId}(goalId=${goal.id}, targetId=${target.id})}" th:object="${target}" method="post">
            <!--<input type="hidden" name="targetId" th:value="${target.id}" />-->

            <div class="form-top">
              <div class="form-header">
                <!--<h2 th:text="${target.name}"></h2>-->
                <h2 th:text="${#strings.length(target.name) > 35 ? #strings.substring(target.name, 0, 35) + '...' : target.name}"></h2>
                <!--<button class="close-button">&times;</button>-->
                <a><i class="bi bi-x-lg close-button"></i></a>
              </div>
              <div class="progress-section">
                <!--<div th:text="${target.progress} + '%'" class="progress-percentage"></div>-->
                <div th:text="${#numbers.formatDecimal(target.progress, 0, 0)} + '%'" class="progress-percentage"></div>
                <div class="progress-bar-container">
                  <div class="progress-bar-target"
                       th:style="'width: ' + ${target.progress} + '%'">
                  <!--th:classappend="${target.progress >= 100} ? 'progress-bar-success' : ''">-->
                </div>
                </div>
              </div>

              <div class="duration-info">
                <div class="duration-item">
                  <span class="label-progress">Start:</span>
                  <span th:text="${target.start}" class="value start"></span>
                </div>
                <div class="duration-item">
                  <span class="label-progress">Target:</span>
                  <span th:text="${target.target}" class="value target"></span>
                </div>
              </div>
            </div>

            <div class="current">
              <i class="bi bi-dash-circle-dotted buttons-section"></i>
              <div class="duration-item-current">
              <span class="label-progress-current">Current:</span>
                <div class="value-and-unit">
                  <span th:text="${target.current}" class="value"></span>
                  <span th:text="${target.unit}" class="unit"></span>
                </div>
              </div>
              <i class="bi bi-plus-circle-dotted buttons-section"></i>
            </div>

            <div class="save-button-section">
              <button class="save-button">Save update</button>
            </div>

            <!--<div class="note-section">
              <label for="note-textarea" class="note-label">Note <span class="optional">(optional)</span></label>
              <textarea id="note-textarea" placeholder="Write something" rows="4"></textarea>
              <div class="char-limit">Max 2000 characters</div>
            </div>-->
          </form>
        </div>
      </section>
    </div><!---------------------------------------------------TARGET---PROGRESS---MODAL---WINDOW---END----------------------------------------------------->
    </div><!----------------------------------------------------LOOP---TO---SHOW---ALL---TARGETS---END----------------------------------------------------------->

  </div>
  <div class="goal-background"></div>
</section>
<!---------------------------------------------------------------GOAL---PAGE---END------------------------------------------------------------------------------->
<!-------------------------------------------------------------TARGET---FORM---START------------------------------------------------------------------------------->
<section id="newGoalSidepanel" class="sidepanel">
  <a><i class="bi bi-x-lg close-sidepanel"></i></a>
  <form class="targetForm" th:action="@{/target}" th:object="${target}" method="post">
    <input type="hidden" th:field="*{goalID}" />
    <!-- Target Name START-->
    <div class="field">
      <label for="targetName"><i class="bi bi-bullseye"></i>
      Target name
        <span class="hint">Required*<br />Break your Goal down into pieces. Targets are measurable results, that, when completed, will also complete the Goal. <a href="">Learn more</a></span>
      </label>
      <input type="text" id="targetName" th:field="*{name}" placeholder="Enter your target" />
      <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Target name error</p>
    </div><!-- Target Name END-->

    <!-- Target Deadline START-->
    <div class="field">
      <label for="deadline"><i class="bi bi-bullseye"></i>
        Deadline <span class="hint">Is there a date this Target should be completed by?</span></label>
      <div class="deadline-container">
        <input type="date" id="deadline" th:field="*{deadlineDate}" />
        <input type="time" id="deadlineTime" th:field="*{deadlineTime}" />
      </div>

    </div><!-- Target Deadline END-->

    <!-- Type of Target START-->
    <div class="field">
      <label class="targetType"><i class="bi bi-bullseye"></i>
        Type of Target
        <span class="hint">How do you want to measure this result?</span>
      </label>
      <p class="choose">Choose type (required)</p>
      <!-- Radio Buttons -->
      <div class="target-types">
      <div><label><input type="radio" th:field="*{type}" value="number" required/> Number<span class="hint">Any number like 1 or 7</span></label></div>
      <div><label><input type="radio" th:field="*{type}" value="success" required/> Success/Failure<span class="hint">Done or not done</span></label></div>
      <div><label><input type="radio" th:field="*{type}" value="currency" required/> Currency<span class="hint">Count your money</span></label></div>
      <div><label><input type="radio" th:field="*{type}" value="tasks" required/> Tasks<span class="hint">Track tasks completion</span></label></div>
      </div>
      <div id="types-content"></div>
    </div><!-- Type of Target END-->

    <div class="field">
      <input type="submit" value="OK" />
    </div>
    <!-- Scroll to Top Button -->
    <div class="scroll-top-wrapper">
      <button class="scroll-top-btn" onclick=""><i class="bi bi-chevron-up"></i></button>
    </div>
  </form>
</section>
</body>

</html>

