/*
-----------------------------------------------------------------------GOAL-PAGE----------------------------------------------------------------------
*/
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #140330;
    background-color: #290660;
}
#overlay {
    position: fixed;
    display: none; /* Hidden by default */
    width: 100%; /* Cover the whole page */
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);/* Black background with opacity */
    z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#goal-page {
    grid-area: 1 / 1 / -1 / -1;
    /*Occupies the entire grid*/
    grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-template-rows: 4rem repeat(3, 5fr)  repeat(2, 2.5fr);
    display: grid;
    min-height: 100vh;
    height: fit-content;


    .goal-header {
        grid-column: 1/-1;
        /*Occupies the entire grid*/
        background-color: #1e0548;
        display: flex;
        padding-right: 90%;
        padding-left: 1%;
        justify-content: space-between;
        position: sticky;
        top: 0;
        height: 4rem;
        z-index: 10;


        .bi-layout-sidebar,
        .bi-rocket,
        a {
            font-size: 1rem;
            color: #ffffff;
            align-self: center;
            text-decoration: none;
        }

        .bi-layout-sidebar {
            font-size: 1.5rem;
        }

        .bi-rocket {
            background-color: rgb(224, 207, 252, 0.5);
            border-radius: 8px;
            padding: 0.1rem 0.3rem 0.1rem 0.3rem;
        }
    }

    .goal-info-container {
        grid-column: 1/-1;
        /*Occupies the entire grid*/
        grid-row: 2/4;
        background-color: #290660;
        padding: 0 20rem;
        min-height: 50vh;
        height: fit-content;
    }
    .goal-info{
        align-self: flex-start;
        height: 40%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
        column-gap: 3rem;
        row-gap: 0.5rem;
    }
    .circular-progress-container {
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9;
        align-self: flex-start;
        margin-top: 1.5rem;

    }

    .goal-data {
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        width: 30rem;
        justify-content: center;
        column-gap: 1rem;
    }
    .goal-desc {
        grid-column: 2/-1;
        grid-row: 2/3;
        border: solid 1px #ffffff;
        border-radius: 4px;
        min-width: 25rem;
        max-width: 50rem;
        min-height: 3rem;
        padding: 1rem;
        background: transparent;
        overflow: hidden;
        /*resize: vertical;*/

    }
    .goal-desc,
    .goal-data p {
        font-size: 0.7rem;
        color: #ffffff;
    }

    .goal-background {
        grid-column: 1/-1;
        /*Occupies the entire grid*/
        grid-row: 4/7;
        background-color: #e0cffc;
        order: 1;
    }

    .goal-content {
        grid-column: 2/4;
        grid-row: 3/6;
        background-color: #f3f0fa;
        order: 2;
        border-radius: 8px;
        height: fit-content;
    }

}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #140330;
    a {
        text-decoration: none;
        color: #140330;
    }
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 20%; /* Location above the element */
    left: -220%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.add-target{
    display: flex;
    column-gap: 1rem;
    padding: 1rem;
}
.open-sidepanel, .add-task-btn {
    border-style: solid;
    border-color: #140330;
    width: 70px;
    height: 28.5px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding: 0;
    background-color: transparent;
}

.open-sidepanel:hover, .add-task-btn:hover {
    border-color: #7dc65a;
    color: #ffffff;
    background-color: #7dc65a;
}
.add-task-btn {
    width: 140px;
}
.goal-targets{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 1rem;
    border: 0;
    border-top: 1px solid #dddddd;
}
.targets-list:hover {
    background-color: rgb(224, 207, 252, 0.3);
}
.text {
    display: flex;
    flex-direction: column;
    p {
        margin: 0;
        font-size: 1rem;
    }
}
.progress-container {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    span {
        font-size: 0.7rem;
    }
}
.measure {
    display: flex;
    justify-content: space-between;
}
.progress {
    width: 12rem;
    height: 0.35rem;
    background-color: rgb(20, 3, 48, 0.1);
    border-radius: 25px;
    margin-bottom: 0.3rem;
}

.progress-bar {
    height: 0.35rem;
    background-color: #3D0A91;
    border-radius: 25px;
}

.target-name{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.target-dropdown-item,
.dropdown-menu.target .bi-pencil,
.dropdown-menu.target .bi-trash3 {
    font-size: 0.9rem;
}
.target-created {
    font-size: 0.7rem;
}
/*
-----------------------------------------------------------------------FORMS-----------------------------------------------------------------------
*/
.sidepanel {
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
    overflow-y: auto;
    /* only vertical scrolling */
    overflow-x: hidden;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    display: none; /* should be hidden by default if you do not use Thymeleaf templates */
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 4rem 4rem;
    row-gap: 6rem;
}

.bi-x-lg {
    position: fixed;
    left: 47%;
    font-size: 3rem;
    color: #e9ecef;
    cursor: pointer;
    z-index: 1000;
}

.field {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 25px;

    i {
        color: #7dc65a;
    }
}

.hint {
    display: block;
    font-weight: normal;
    color: #888;
    font-size: 14px;
    margin-top: 5px;
}

#targetName,
#deadline,
input[type="time"]{
    background-color: transparent;
    border: none;
    border-bottom: #7dc65a solid 3px;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-size: 33px;
    color: #757575;
}

.deadline-container {
    display: flex;
    justify-content: flex-start;
    column-gap: 3rem;
    align-self: flex-end;

}

input[type="submit"] {
    border-style: solid;
    border-color: #140330;
    border-radius: 25px;
    width: 140px;
    height: 50px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding: 0;
    background-color: transparent;
    align-self: center;
}
.choose {
    font-size: 1rem;
    margin: 0;
}
.target-types {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
.target-types div {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    padding: 1rem;
}
.target-types div:has(input[type="radio"]:checked) {
    border: #7dc65a solid 1px;
}
.target-types label {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1rem;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #555;
    row-gap: 0.6rem;
    span {
        margin-top: -5px;
        text-align: center;
    }
}
.target-range {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
.input.small {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="submit"]:hover {
    border-color: #7dc65a;
    color: #ffffff;
    background-color: #7dc65a;
}
.scroll-top-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.scroll-top-btn {
    background-color: #d2a2f6;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.scroll-top-btn:hover {
    background-color: #c08ae9;
}

/*-------------------------------------------------------------TARGET----DROP-----DOWN-------------------------------------------------------------------------------*/
.goal-name,
.goal-title .bi-three-dots {
    font-size: 1.5rem;
    color: #ffffff;
}
.goal-title {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    width: 30rem;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.5rem;
}

.dropdown-wrapper {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: 70%;
    background: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    row-gap: 0.2rem;
    width: max-content;
    z-index: 1000;
    padding: 0.5rem;
}

.dropdown-item {
    cursor: pointer;
    font-size: 1rem;
    color: #140330;
    display: flex;
    column-gap: 1rem;
    padding: 0.4rem 0.4rem;
}
.bi-folder-symlink,
.bi-pencil {
    font-size: 1.2rem;
}

.dropdown-item:hover {
    background-color: #e9ecef;/*#e9ecef*/
    border-radius: 8px;
}

.dropdown-item.delete,
.dropdown-item.delete.target{
    color: #e63946;
}
